################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/devwarsztaty.service/obj
/devwarsztaty.service/bin/Debug/netcoreapp1.1
/devwarsztaty.web/obj
/devwarsztaty.web/bin/Debug/netcoreapp1.1
/devwarsztaty.messages/obj
/devwarsztaty.messages/bin/Debug/netcoreapp1.1
/devwarsztaty.messages/bin/Release
